

/* Desktop Appearance */
 
body {
    font-family: 'Noto Sans HK', sans-serif; margin: 0;
    background-color: blanchedalmond;

}
a {
    color: black;
    text-decoration: none;
}

.container {
    min-height: 500px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 140px;

}   

.header-container {
    background-color:forestgreen;
    min-height: 100px;
    position: relative;
    width: 100%;
}

header {
   max-width: 1024px;
   min-height: 100px;
   margin: 0 auto;
   display: flex;
   font-size: 16px;
   justify-content: space-between;
   align-items: center;
  
}

.col {
    width: 30%;
    margin-bottom: 40px;
    background-color:paleturquoise;
}


.col p {
    font-size: 15px;
    padding: 20px  20px;
    text-align: center;

}
.col img {
    width: 100%;
    height: 80%;
}

.col P::first-line {
    font-weight: bold;

}
 nav a {
     padding: 5px 20px;
     border-style: groove;
     border-width: 5px;
     border-color:lightslategray;
     margin-left: 20px;
 }

 footer {
    text-align: center;
    padding: 10px;
    background-color: burlywood;
    color: black; 
    bottom: 0; 
   
   }

#Bttn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 28px;
    border:black;
    opacity: 0.5;
    outline-color: darkblue;
    background-color: mediumslateblue;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 35px;
  }
  
  #Bttn:hover {
    background-color: black;
  }
  .contact {
     display: block;
     padding: 20px;
  }

  .Intro-artist {
    border-style: hidden;  
    padding: 20px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgba(0,0,0,0.3),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
    margin: 20px 20px 20px 20px;

  }
.the-artist {
    margin: 30px; 
    box-shadow: 5px 5px 2px 1px lightgray;
}
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .contain {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  section {
    display: flex;
    margin-left: 90px;

  }

/* Tablet Appearance  */
@media (max-width: 768px)  {
 .col {
     width: 45%;
}
   
header{
    display: block;
    text-align: center;
}
.header-container {
     position: relative;
    
}
.container {
    padding-top: 40px;
}   

nav a {
    display: block;
    margin-left: 0;
    
}
.photos {
    padding: 40px 0;       
}


}





/* Mobile Appearance */
@media (max-width: 400px)  {
    .col {
        width: 100%;

    }
 
    section {
      margin-left: 20px;
  
    }
    


    }
